/* body, html {
  height: 100%;
}

* {
  box-sizing: border-box;
}

.form-style-1{
  width: 100%;
  background-image: url("images/Form\ Background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
} 

.form-title{
  text-align: left;
}

 form {
  background-color: white;
  position: absolute;
  right: 0;
  margin: 20px;
  max-width: 300px;
  padding: 16px;

}
input[type=text],select {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
} 


label {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  font-size: 0.8em;
}

.btnS{
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
} */

body, html {
  background-color: coral;
}

* {
  box-sizing: border-box;
}

.form-style-2 {
 
  background-color: white;
  min-height: 380px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.container {
  justify-content: center;
  position: center;
  margin: 20px;
  width: 50%;
  padding: 16px;
  background-color: pink;
}

  input[type=text], select {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, select:focus {
  background-color: #ddd;
  outline: none;
}


.btn {
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.btn:hover {
  opacity: 1;
}